<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
<a href="#" class="logo"><img src="assets/img/chibilogoCDX.png" alt=""></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#portafolio">Portafolio</a>
    </li>
  </ul>

</div>
</nav>

<div class="container container_header">

        <div class="row textos">
          <div class="container textX">
            <span class="text1">Bienvenido</span>
            <span class="text2"><fa name="cog" animation="spin"></fa>Codexmaker<fa name="cog" animation="spin"></fa></span>

            <div class="contenedor-btns">
              <a class="info"><fa name="info"> </fa> Info</a>
              <a href="#" id="comprar"><fa name="shopping-cart"></fa> Hacer pedido </a>
            </div>

          </div>




    </div>
</div>
