.jumbotron{
  padding: 10px;
  width: 100%;
  color: white;
  position: relative;
  background: linear-gradient(0deg,#000,#262626);
}

.jumbotron:before,
.jumbotron:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: linear-gradient(45deg, #40d589, #00ceaf, #00c3ce, #00b5df, #00a5e1, #3f9ade, #5e8ed6, #7582cb, #7c78c6, #846ec0, #8d62b8, #9656ae);
  background-size: 400%;
  border-radius: 6px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -2;
  animation: animate 20s linear infinite;
}
.jumbotron:after{
  filter: blur(6px);
}

@keyframes animate {
  0%{
    background-position: 0 0;
  }
  30%{
    background-position: 200% 0;
  }
  85%{
    background-position: 0 0;
  }
}
