
<div class="container">
<div class="jumbotron">
  <h2>Mi perfil</h2>
</div>
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col-md-6">
          <div class="foto">
            <img src="./assets/img/webDeveloper.jpg" alt="codexmaker" class="rounded-circle img-thumbnail img-responsive">
          </div>
      </div>
      <div class="col-md-6">
          <h3 class="text_profile">Mi nombre es Samuel Vazquez Ruiz</h3>
          <p>Soy Ingeniero en Sistemas Computacionales y soy un apasionado por el desarrollo de software,
            mi meta es formar parte de una empresa en la cual pueda aplicar todos mis conocimientos e ideas,
            he tomado las certificaciones que me acerquen más al entorno laboral actual para poder desarrollarme profesionalmente de una manera eficáz.</p>

            <hr>
           
           <div class="col-md-12">
             <h4 class="text-center text_profile">Aptitudes:</h4>
           </div>
           <br>
           <div class="row">

             <div class="col-md-6">
                <ul class="text-center">
                    <li>
                      <span>Compromiso</span>
                    </li>
                    <li>
                      <span>Autodidacta</span>
                    </li>
                    <li>
                      <span>Adaptación</span>
                    </li>
                    <li>
                      <span>Apasionado</span>
                    </li>
                </ul>
             </div>

             <div class="col-md-6">
                <ul class="text-center">
                    <li>
                      <span>Trabajo en equipo</span>
                    </li>
                    <li>
                      <span>Pensamiento analítico</span>
                    </li>
                    <li>
                      <span>Atención a detalles</span>
                    </li>
                    <li>
                      <span>Responsable</span>
                    </li>
                </ul>
             </div>

           </div>

            <hr>

            <div class="col-md-12 row">
              <div class="col-sm-6 linkA text-center">
                <a href="https://github.com/CodeXMakerCompany" target="_blank"><img class="icon_Animate" src="./assets/icons/GitHub.png" alt=""></a>
              </div>
              <div class="col-sm-6 linkB text-center">
                <a href="https://www.linkedin.com/in/samuel-vazquez-a787b5175/"  target="_blank"><img class="icon_Animate" src="./assets/icons/LinkedIn.png"></a>
              </div>
            </div>
      </div>
    </div>

    <br>

  </div>
</div>


<div class="container" id="skills">
<div class="jumbotron"><h2>Skills</h2></div>
  
  <hr>    
  <div class="col-md-12 text-center">

    <span class="textosA">[Experto </span>
      <span class="dot exp"></span>
    <span class="textosA espacioDerecha">] </span>

    <span class="textosA">[Avanzado </span>
         <span class="dot ava"></span>
    <span class="textosA espacioDerecha">] </span>

    <span class="textosA">[Intermedio </span>
     <span class="dot int"></span>
    <span class="textosA espacioDerecha">] </span>

    <span class="textosA">[Novato </span>
           <span class="dot new"></span>
    <span class="textosA espacioDerecha">] </span>       

    <span class="textosA">[Fundamentos </span> 
          <span class="dot fund"></span>
    <span class="textosA espacioDerecha">] </span>

  </div>

  <hr>
<!-- Swiper -->
 <div class="swiper-container">
   <div class="swiper-wrapper">

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/php0.png">
       </div>
       <div class="swiper-details">
            <h5>PHP</h5>
            <p>Experiencia de 2 años. <img src="./assets/icons/Ok.png" alt="" class="iconOk"> </p>
            <span class="txtCard">Conocimiento: </span>
            <span class="dot ava minimizeDot"></span>
            <p>Ver. 7.3</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/js.png">
       </div>
       <div class="swiper-details">
            <h5>JavaScript</h5>
            <p>Experiencia de 2 años. <img src="./assets/icons/Ok.png" alt="" class="iconOk"> </p>
            <span class="txtCard">Conocimiento: </span>
            <span class="dot int minimizeDot"></span>
            <p>Ver. 7.3</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/css30.png">
       </div>
       <div class="swiper-details">
         <h5>CSS</h5>
         <p>Experiencia de 2 años. <img src="./assets/icons/Ok.png" alt="" class="iconOk"></p>
         <span class="txtCard">Conocimiento: </span>
          <span class="dot exp minimizeDot"></span>
         <p>Ver. 5</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/html50.png">
       </div>
       <div class="swiper-details">
         <h5>HTML5</h5>
         <p>Experiencia de 3 años. <img src="./assets/icons/Ok.png" alt="" class="iconOk"></p>
         <span class="txtCard">Conocimiento: </span>
            <span class="dot exp minimizeDot"></span>
         <p>Ver. 5</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/jquery.png">
       </div>
       <div class="swiper-details">
         <h5>jQuery</h5>
         <p>Experiencia de 1 año. <img src="./assets/icons/Ok.png" alt="" class="iconOk"></p>
         <span class="txtCard">Conocimiento: </span>
            <span class="dot int minimizeDot"></span>
         <p>Ver. 5.8</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/mysql.png">
       </div>
       <div class="swiper-details">
         <h5>MySQL</h5>
         <p>Experiencia de 2 años. <img src="./assets/icons/Ok.png" alt="" class="iconOk"></p>
         <span class="txtCard">Conocimiento: </span>
          <span class="dot ava minimizeDot"></span>
         <p>Ver. 5.8</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/laravel.png">
       </div>
       <div class="swiper-details">
         <h5>Laravel</h5>
         <p>Experiencia de 3 meses. <img src="./assets/icons/Ok.png" alt="" class="iconOk"></p>
         <span class="txtCard">Conocimiento: </span>
            <span class="dot new minimizeDot"></span>
         <p>Ver. 5.8</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/symfony0.png">
       </div>
       <div class="swiper-details">
         <h5>Symfony</h5>
         <p>Experiencia de 2 meses.<img src="./assets/icons/Ok.png" alt="" class="iconOk"></p>
         <span class="txtCard">Conocimiento: </span>
            <span class="dot new minimizeDot"></span>
         <p>Ver. 4.3</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="./assets/icons/AngularJS.png">
       </div>
       <div class="swiper-details">
         <h5>AngularJS</h5>
         <p>Experiencia de 6 meses.<img src="./assets/icons/Ok.png" alt="" class="iconOk"></p>
         <span class="txtCard">Conocimiento: </span>
            <span class="dot fund minimizeDot"></span>
         <p>Ver. 7 & cli 8</p>
       </div>
     </div>

   </div>
   <!-- Add Pagination -->
   <div class="swiper-pagination"></div>
 </div>
</div>



<div class="container" id="portafolio">
<div class="jumbotron">
  <h1>Portafolio</h1>
</div>

<div class="col-md-12">
    <div class="col-md-12 row foto">
        <div class="col-md-4 imgService text-center zoomA">
          <a href="https://codexmaker.com/" target="_blank">
             <img src="./assets/img/portfolio/tiendaOnlinePT.png" alt="">
          </a>
        </div>
        <div class="col-md-8 text-center contenedorBtns">
          <h2 class="titulo azul">E-commerce</h2>
          <p class="parrafo">Tienda online diseñada para la venta de productos importados, siguiendo el modelo de comercio <strong>"DROPSHIP"</strong> , cuenta con pagos por paypal, pasarela de pagos payUlatam, login de usuarios, personalización de sus datos, carrito de compras, gestor de los recursos del negocio y mucho más !</p>
          <a href="https://codexmaker.com/" target="_blank">Ver<i class="fa fa-eye"></i></a>
        </div>
      </div>

      <hr>

      <div class="col-md-12 row foto">
          <div class="col-md-8  text-center contenedorBtns">
            <h2 class="titulo naranja derecha">Catálogo</h2>
            <p class="parrafo">Catálogo diseñado para la visualización de articulos, gestion de categorias, busqueda de productos, perfecto para <strong>mPymes</strong>  que desean ofrecer un servicio virtual o un producto físico.</p>
            <a href="http://catalogo.codexmaker.com/" target="_blank">Ver<i class="fa fa-eye"></i></a>
          </div>
          <div class="col-md-4 imgService text-center zoomB">
            <a href="http://catalogo.codexmaker.com/" target="_blank">
              <img src="./assets/img/portfolio/catalogoPT.png" alt="">
            </a>
          </div>
        </div>

        <hr>

        <div class="col-md-12 row foto">
            <div class="col-md-4 imgService text-center zoomA">
              <a href="http://backcatalogo.codexmaker.com/" target="_blank">
                <img src="./assets/img/portfolio/erpSystemPT.png" alt="">
              </a>
            </div>
            <div class="col-md-8 text-center contenedorBtns">
              <h2 class="titulo azul">Gestor de recursos empresariales (ERP)</h2>
              <p class="parrafo">Sistema desarrollado para gestionar y controlar todos los modulos de un negocio, cuenta con un panel de control que muestra los datos mas importantes de la rentabilidad del comercio, integrando <strong>AJAX</strong>  para la gestión eficaz de grandes volumenes de registros.</p>
              <a href="http://backcatalogo.codexmaker.com/" target="_blank">Ver<i class="fa fa-eye"></i></a>
            </div>
          </div>

          <hr>

          <div class="col-md-12 row foto">
          <div class="col-md-8  text-center contenedorBtns">
            <h2 class="titulo naranja derecha">Demo de consultorio dental</h2>
            <p class="parrafo">Demo realizada para integrar un modulo de <strong>calendario</strong> con eventos para un consultorio dental, los eventos se pueden crear, modificar, borrar y gestionar como en un CRUD.</p>
            <a href="http://democonsultorio.codexmaker.com/login" target="_blank">Ver<i class="fa fa-eye"></i></a>
          </div>
          <div class="col-md-4 imgService text-center zoomB">
            <a href="http://democonsultorio.codexmaker.com/login" target="_blank">
              <img src="./assets/img/portfolio/consultorioDemoPT.png" alt="">
            </a>
          </div>
        </div>

        <hr>

        <div class="col-md-12 row foto">
            <div class="col-md-4 imgService text-center zoomA">
              <a href="http://ptfshop.codexmaker.com/" target="_blank">
                <img src="./assets/img/portfolio/CRUD_PT.png" alt="">
              </a>
            </div>
            <div class="col-md-8 text-center contenedorBtns">
              <h2 class="titulo azul">CRUD de productos y pedidos</h2>
              <p class="parrafo"><strong>CRUD</strong> realizado sin diseño responsivo para solucionar la necesidad de generar registros de los pedidos para un negocio local.</p>
              <a href="http://ptfshop.codexmaker.com/" target="_blank">Ver<i class="fa fa-eye"></i></a>
            </div>
          </div>

          <hr>


        <div class="col-md-12 row foto">
          <div class="col-md-8  text-center contenedorBtns">
            <h2 class="titulo naranja derecha">Gestor de tareas</h2>
            <p class="parrafo">Task Manager es un <strong>web service</strong> que genera y controla las tareas de los usuarios dentro de un marco SCRUM que se aplica en un negocio.</p>
            <a href="http://demotaskmanager.codexmaker.com/" target="_blank">Ver<i class="fa fa-eye"></i></a>
          </div>
          <div class="col-md-4 imgService text-center zoomB">
            <a href="http://demotaskmanager.codexmaker.com/" target="_blank">
              <img src="./assets/img/portfolio/webServiceTaskManagerPT.png" alt="">
            </a>
          </div>
        </div>

        <hr>

        <div class="col-md-12 row foto">
            <div class="col-md-4 imgService text-center zoomA">
              <a href="http://postit.codexmaker.com/" target="_blank">
                <img src="./assets/img/portfolio/postIt!PT.png" alt="">
              </a>
            </div>
            <div class="col-md-8 text-center contenedorBtns">
              <h2 class="titulo azul">PostIt!!</h2>
              <p class="parrafo">Es un <strong>proyecto personal</strong> inspirado en las redes sociales, para compartir contenido a traves de posts, y comunicacion entre usuarios, desarrollado con el framework Laravel.</p>
              <a href="http://postit.codexmaker.com/" target="_blank">Ver<i class="fa fa-eye"></i></a>
            </div>
          </div>

</div>
</div>



<div class="container">
  <div class="jumbotron portafolio"><h1>Precios</h1></div>

  <section class="precios" id="precios">
    <div class="container">


        <div class="col-md-12">




      <div class="row">
        <div class="precio col-sm-4">
        <div class="plan verde">
          <p class="nombre">Básico</p>
          <p class="precio">49.99$</p>

          <ul class="caracteristicas">
            <li>Startup LandingPage, Blog</li>
            <li>HTML,CSS,PHP,JS</li>
            <li>1 plugin</li>
          </ul>
          <a (click)="onClick()" class="btnX">Contratar ahora</a>
        </div>
      </div>
      <div class="precio col-sm-4">
      <div class="plan activeX">
        <p class="nombre">Estandar</p>
        <p class="precio">76.99$</p>

        <ul class="caracteristicas">
          <li>Tienda Online, WebService</li>
          <li>HTML,CSS,PHP,JS, LARAVEL, SYMFONY</li>
          <li>3-4 plugins</li>
        </ul>
        <a (click)="onClick()" class="btnX">Contratar ahora</a>
      </div>
    </div>
    <div class="precio col-sm-4">
    <div class="plan naranja">
      <p class="nombre">Premium</p>
      <p class="precio">279.99$</p>

      <ul class="caracteristicas">
        <li>ERP y CRM +</li>
        <li>HTML,CSS,PHP,JS, LARAVEL, SYMFONY</li>
        <li>Extra plugins</li>
      </ul>
      <a (click)="onClick()" class="btnX">Contratar ahora</a>
    </div>
  </div>
      </div>



</div>
    </div>
  </section>
</div>





<app-footer></app-footer>
