
<div class="container">
<div class="jumbotron">
  <h1>Mi perfil</h1>
</div>
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col-md-6">
          <div class="foto">
            <img src="./assets/img/webDeveloper.jpg" alt="codexmaker" class="rounded-circle img-thumbnail img-responsive">
          </div>
      </div>
      <div class="col-md-6">
          <h3>Mi nombre es Samuel Vazquez Ruiz</h3>
          <p>Soy Ingeniero en Sistemas Computacionales y soy un apasionado por el desarrollo de software,
            mi meta es formar parte de una empresa en la cual pueda aplicar todos mis conocimientos e ideas,
            he tomado las certificaciones que me acerquen más al entorno laboral actual para poder desarrollarme profesionalmente de una manera eficáz.</p>
            <div class="col-md-12 row">
              <div class="col-md-6 linkA text-center">
                <a href="https://github.com/CodeXMakerCompany"><img src="./assets/icons/GitHub.png" alt=""></a>
                <small class="text-uppercase">GitHub</small>
              </div>
              <div class="col-md-6 linkB text-center">
                <a href="https://www.linkedin.com/in/samuel-vazquez-a787b5175/"><img src="./assets/icons/LinkedIn.png" alt=""></a>
                <small class="text-uppercase">LinkedIn</small>
              </div>
            </div>
      </div>
    </div>

    <br>

  </div>
</div>


<div class="container">
<div class="jumbotron"><h1>Skills</h1></div>
<!-- Swiper -->
 <div class="swiper-container">
   <div class="swiper-wrapper">

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/php0.png">
       </div>
       <div class="swiper-details">
            <h6>PHP</h6>
            <p>Experiencia de 2 años. <img src="../assets/icons/Ok.png" alt="" class="iconOk"> </p>
            <p>Ver. 7.3</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/js.png">
       </div>
       <div class="swiper-details">
            <h6>JavaScript</h6>
            <p>Experiencia de 2 años. <img src="../assets/icons/Ok.png" alt="" class="iconOk"> </p>
            <p>Ver. 7.3</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/css30.png">
       </div>
       <div class="swiper-details">
         <h6>CSS</h6>
         <p>Experiencia de 2 años. <img src="../assets/icons/Ok.png" alt="" class="iconOk"></p>
         <p>Ver. 5</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/html50.png">
       </div>
       <div class="swiper-details">
         <h6>HTML5</h6>
         <p>Experiencia de 3 años. <img src="../assets/icons/Ok.png" alt="" class="iconOk"></p>
         <p>Ver. 5</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/jquery.png">
       </div>
       <div class="swiper-details">
         <h6>jQuery</h6>
         <p>Experiencia de 1 año. <img src="../assets/icons/Ok.png" alt="" class="iconOk"></p>
         <p>Ver. 5.8</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/mysql.png">
       </div>
       <div class="swiper-details">
         <h6>MySQL</h6>
         <p>Experiencia de 2 años. <img src="../assets/icons/Ok.png" alt="" class="iconOk"></p>
         <p>Ver. 5.8</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/laravel.png">
       </div>
       <div class="swiper-details">
         <h6>Laravel</h6>
         <p>Experiencia de 3 meses. <img src="../assets/icons/Ok.png" alt="" class="iconOk"></p>
         <p>Ver. 5.8</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/symfony0.png">
       </div>
       <div class="swiper-details">
         <h6>Symfony</h6>
         <p>Experiencia de 2 meses.<img src="../assets/icons/Ok.png" alt="" class="iconOk"></p>
         <p>Ver. 4.3</p>
       </div>
     </div>

     <div class="swiper-slide">
       <div class="imgBx">
         <img src="../assets/icons/AngularJS.png">
       </div>
       <div class="swiper-details">
         <h6>AngularJS</h6>
         <p>Experiencia de 6 meses.<img src="../assets/icons/Ok.png" alt="" class="iconOk"></p>
         <p>Ver. 7 & cli 8</p>
       </div>
     </div>

   </div>
   <!-- Add Pagination -->
   <div class="swiper-pagination"></div>
 </div>
</div>



<div class="container">
<div class="jumbotron">
  <h1>Servicios</h1>
</div>

<div class="col-md-12">
    <div class="col-md-12 row foto">
        <div class="col-md-4 imgService text-center">
          <img src="./assets/img/portfolio/3.jpg" alt="">
        </div>
        <div class="col-md-8 text-center">
          <h2 class="titulo azul">Creación de páginas Web</h2>
          <p class="parrafo">Desde startups, CRUDS, sistemas de envio de correos, páginas dinámicas, hasta complejos modelos de negocios con la logística que tu empresa necesita, con posicionamiento SEO gratuito!</p>
        </div>
      </div>

      <div class="col-md-12 row foto">
          <div class="col-md-8  text-center">
            <h2 class="titulo naranja derecha">Creación de tiendas online</h2>
            <p class="parrafo">Perfecto para mPymes y negocios que quieren tener presencia en internet, incluyendo las ventas y logistica que su negocio necesite.</p>
          </div>
          <div class="col-md-4 imgService text-center">
            <img src="./assets/img/portfolio/010.jpg" alt="">

          </div>
        </div>

        <div class="col-md-12 row foto">
            <div class="col-md-4 imgService text-center">
              <img src="./assets/img/portfolio/9.jpg" alt="">
            </div>
            <div class="col-md-8 text-center">
              <h2 class="titulo azul">Creación de gestor de recursos empresariales</h2>
              <p class="parrafo">Siempre mantener el control total de tu empresa es primordial, por eso te ofrezco un servicio de gestión de todos los modulos de tu proyecto.</p>
            </div>
          </div>


</div>
</div>



<div class="container">
  <div class="jumbotron portafolio"><h1>Precios</h1></div>

  <section class="precios">
    <div class="container">


        <div class="col-md-12">




      <div class="row">
        <div class="precio col-sm-4">
        <div class="plan verde">
          <p class="nombre">Básico</p>
          <p class="precio">49.99$</p>

          <ul class="caracteristicas">
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
          <a (click)="onClick()" class="btnX">Contratar ahora</a>
        </div>
      </div>
      <div class="precio col-sm-4">
      <div class="plan activeX">
        <p class="nombre">Estandar</p>
        <p class="precio">76.99$</p>

        <ul class="caracteristicas">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
        <a (click)="onClick()" class="btnX">Contratar ahora</a>
      </div>
    </div>
    <div class="precio col-sm-4">
    <div class="plan naranja">
      <p class="nombre">Premium</p>
      <p class="precio">279.99$</p>

      <ul class="caracteristicas">
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
      <a (click)="onClick()" class="btnX">Contratar ahora</a>
    </div>
  </div>
      </div>



</div>
    </div>
  </section>
</div>





<app-footer></app-footer>
