.text_profile{
  color: #417AD2;
}

.jumbotron{
  padding: 10px;
  width: 100%;
  color: white;
  position: relative;
  background: linear-gradient(0deg,#000,#262626);
}

.jumbotron:before,
.jumbotron:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background-image: linear-gradient(45deg, #40d589, #00ceaf, #00c3ce, #00b5df, #00a5e1, #3f9ade, #5e8ed6, #7582cb, #7c78c6, #846ec0, #8d62b8, #9656ae);
  background-size: 400%;
  border-radius: 6px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -2;
  animation: animate 20s linear infinite;
}
.jumbotron:after{
  filter: blur(6px);
}
.icon_Animate{
  border-radius: 15%;
  transition: 0.3s;
}
.icon_Animate:hover{
  width: 50%;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 50%;
}

.textosA{
  font-weight: 500;
  font-size: 20px;
  vertical-align: text-bottom;
}

.espacioDerecha{
  padding-right: 10px;
}

.dot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.exp{
  background-color: #C50AC5;
  box-shadow: 0 0 6px #C50AC5;
}
.ava{
  background-color: #3271AC;
  box-shadow: 0 0 6px #3271AC;
}
.int{
  background-color: #81A41C;
  box-shadow: 0 0 6px #81A41C;
}
.new{
  background-color: #C7990F;
  box-shadow: 0 0 6px #C7990F;
}
.fund{
  background-color: #0A847E;
  box-shadow: 0 0 6px #0A847E;
}

/*Zoom Images*/
.zoomA {
  max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.zoomB {
  max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.zoomB:hover {
  padding-right: 40px;
  transform: scale(2.5);
  z-index: 1; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomA:hover {
  padding-left: 50px;
  transform: scale(2.5);
  z-index: 1; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.contenedorBtns a{
  border-radius: 4px;
  border: 2px solid #3D4146;
  background: #EDEFF1;
  color: #3D4146;
  padding: 8px 0;
  font-weight: 600;
  width: 150px;
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  transition: 0.3s;
}

.contenedorBtns a:hover{
  box-shadow: 0 4px 5px #3D4146;
  text-decoration: none;
  background: #3D4146;
  color: #6ab04c;
}

  

@keyframes animate {
  0%{
    background-position: 0 0;
  }
  30%{
    background-position: 200% 0;
  }
  85%{
    background-position: 0 0;
  }
}
