<br>
<!-- Footer -->
		<footer class="pt-5 pb-4" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Acerca</h5>
						<p class="mb-4">Te gustaria contactarme?</p>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-map-marker"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Ubicación:</h6>
										<p>Mexico, CDMX</p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-envelope"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Alguna duda?</h6>
										<p><a href="#">codexmaker12@gmail.com</a></p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-phone"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Telefono:</h6>
										<p><a href="#">+52 55-8396-2898</a></p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Tweets recientes</h5>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-twitter"></i></div>
									<div class="col-10">
										<p class="mb-0"><a href="#">@userthemesrel </a> HTML Version Out Now</p>
										<label>10 Mins Ago</label>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-twitter"></i></div>
									<div class="col-10">
										<p class="mb-0"><a href="#">@userthemesrel </a> HTML Version Out Now</p>
										<label>10 Mins Ago</label>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-1"><i class="fa fa-twitter"></i></div>
									<div class="col-10">
										<p class="mb-0"><a href="#">@userthemesrel </a> HTML Version Out Now</p>
										<label>10 Mins Ago</label>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Ultimas actualizaciones</h5>
						<ul class="recent-post">
							<li>
								<label class="mr-3">28 <br><span>Ecommerce</span></label>
								<span>Rendomised words which dont look eveable.</span>
							</li>
							<li>
								<label class="mr-3">29 <br><span>Admin LTE4</span></label>
								<span>Rendomised words which dont look eveable.</span>
							</li>
							<li>
								<label class="mr-3">30 <br><span>Angular in the frontend</span></label>
								<span>Rendomised words which dont look eveable.</span>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">Contactame</h5>
						<div class="input-group">
						  	<input type="text" class="form-control" placeholder="Deja tu correo">
						  	<span class="input-group-addon" id="basic-addon2"><i class="fa fa-check"></i></span>
						</div>
						<ul class="social-pet mt-4">
							<li><a href="#" title="facebook"><i class="fa fa-facebook-f"></i></a></li>
							<li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="google-plus"><i class="fa fa-google"></i></a></li>
							<li><a href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- Copyright -->
		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2019 codexmaker designs.
						</div>
					</div>
				</div>
			</div>
		</section>
